<div class="login-container">
  <div class="login-card">

    <h2>Login</h2>

    <p class="error" *ngIf="error()">{{ error() }}</p>

    <input
      placeholder="Username"
      [ngModel]="username()"
      (ngModelChange)="username.set($event)" />

    <input
      type="password"
      placeholder="Password"
      [ngModel]="password()"
      (ngModelChange)="password.set($event)" />

    <button (click)="login()">Login</button>

    <p class="link">
      New user?
      <a routerLink="/register">Register</a>
    </p>

  </div>
</div>
